<h1>Demo#hello</h1>
<hr/>

<p>Find me in app/views/demo/index.html.erb</p>

<%= link_to("Index", :action => 'index')%>

<hr/>
<% target = "Anton"%>
<%= "Hello #{target}"%><br/>

<% 3.times do%>
	AAA:<%="XXX"%>
<%end%><br/>

