<h1>Demo#index</h1>
<hr/>

<p>Find me in app/views/demo/index.html.erb</p>

<%= link_to("Hello", :action => 'hello')%>

<%= 12 - 12%><br/>

<% target = "My Special Friend!"%>
<%= "How are you? #{target}"%><br/>

<% 30.times do %>
	XXX:<%="Hot Sex, free Girls!"%>
	<%end%>